.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache/*.php
*.log
docker-compose*
Dockerfile*
.dockerignore
README.md
tests
.github
